body {
    background: #000;
}

main.gallery-container {
    flex: 1;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius:  8px 8px 0 0;
    transition: transform 0.3s ease;
    aspect-ratio: 1/1.2;
    background-color: #c99a00;
}

.gallery-item:hover {
    transform: translateY(-5px);
}

.gallery-item img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius:  8px 8px 0 0;
}

.painting-info {
    height: 15%;
    background: rgba(0,0,0,1);
    padding: 1rem;
    border-radius: 0 0 8px 8px;
}

.painting-title {
    color: #cea317;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.painting-year {
    color: #888;
    font-size: 0.9rem;
}


@media (max-width: 1350px) {
    .gallery-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10rem;
    }

    .painting-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    .painting-title {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .gallery-item img {
        height: 75%;
    }

    .painting-info {
        height: 25%;
    }
}

@media (max-width: 420px) {
    .gallery-item img {
        height: 70%;
    }

    .painting-info {
        height: 30%;
    }
}


@media (max-width: 360px) {
    .painting-info {
        padding-top: 0.5rem;
    }

    .painting-title {
        font-size: 0.90rem;
    }
}

